#t1 {
 padding-left: 50px;
}
#t2 {
background-color: yellow;
width: 720px;
}
#t3 {
    text-align: left;
}
#t5 {
width: 200px;
}

#t6 {
    width: 250px;
}

#t7 {
    width: 45px;
}

#t8 {
width: 100px;
    }

#t9 {
margin-left: 350px;
            }