#header{
    text-align: center;
}

#street{
    width:600px;
}

#postcode{
    width:50px;
}

#city{
    width:400px;
}

#message{
    width:350px;
    padding-top:70px;
}

#email{
    width:300px;
}


