ul.menu {
	list-style-type: none;
	background: black;
}

a.menu {
	color: white;
	text-decoration: none;
}

li.menu {
	display: inline-block;
	margin: 0 10px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:20px;
}
