div{
    text-align: center;
}

table{
    background-color:yellow;
    border-spacing: 10px;
    font-size: smaller;
    width:100%;
}

#identity{
    width: 350px;;
}

#street{
    width: 400px;
    height: 50px;
}

#zip{
    width:40px;
}

#country{
    width:fit-content;
}

#categories{
    text-align: left;
}