html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

/*EX1 -------------------------------------*/

.menu{
    background-color: black;
    height: 60px;
    width: 400px;
    float: left;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

li{
    display: inline-block;
    padding: 18px 10px 0 17px;
    font-size: larger;
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
}

/*EX2 -------------------------------------*/

.menu2{
    margin: 0px
}

.li2{
    float: left;
    margin: 0px;
    font-size: smaller;
    margin-right: 3px;
    width: 110px;
    padding: 12px 0 0 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
    background: linear-gradient(to right, grey, orange);
    position: relative;
}

.ul2bis{
    position: absolute;
}

.li2bis{
    text-align: left;
    width: 115px;
    float: left;
    padding: 12px 0px 0px 0px;
    margin: 0 0 0 -5px;
    font-size: 0.8rem;
    border-top: 2px solid black;
    background: linear-gradient(to right, white, orange);
    display: none;
    top: 100%;
    left: 0;
}

.ul2bis2{
    position: absolute;
    margin: 1.5px 0 0 0;
}

.li2bis2{
    text-align: left;
    width: 115px;
    float: left;
    padding: 12px 0px 0px 0px;
    margin: 0 0 0 115px;
    font-size: 0.8rem;
    border-bottom: 2px solid black;
    background: linear-gradient(to right, white, orange);
    display: none;
    top: 100%;
    left: 0;
}

.li2bis:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid black;
}

.li2bis2:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid black;
}

.a2, .a2M{
    padding: 7px;
    color: black;
}

.a2M{
    padding-left: 20px;
}

.a2bis{
    color: black;
}

.li2:hover .li2bis{
    display: block;
}

.li2bis:nth-child(2):hover .li2bis2{
    display: block;
}

.ul2bis2{
    margin-top: -28px;
}

/*EX3 -------------------------------------*/

.contour{
    color : white; 
    background-color: #668285;
    height: 55px;
    text-align: left;
    padding-left: 10px;
}
    
.contour div{
    padding: 10px 0px;
    display : inline-block;
}
    
.contour div:nth-child(2){
    padding: 0;
    margin: 0 0 0 89%;
    text-align : center;
}
    
    
.contour2{
    color : white; 
    background-color: #b9d7d9;
    height:75%;
    width:10%;
    float :left;
    margin-right:1%;
}
    
.contour3{
    color : white; 
    background-color: #f4ebc2;
    height:75%;
    width : 88%; 
    float :left;
    margin-left : 1%;
    margin-bottom : 1%;
    font-size: 1.2rem;
}
    
.ecriture1, .ecriture2, .ecriture3, .ecriture4, .ecriture5, .ecriture6, .ecriture7, .ecriture8{
    color : black;
    white-space: normal;
    margin : 7px;
}

.ecriture1{
    margin-bottom: 25px;
}

.ecriture3{
    list-style-type: square;
    padding: 25px 10px 10px 0px;
    margin: 0 0 0 40px;
    display: list-item;
}

.ecriture4{
    list-style-type: square;
    padding: 0px 10px 10px 0px;
    margin: -5px 0 25px 40px;
    display: list-item;
}

.ecriture8{
    list-style-type: square;
    padding: 0px 10px 10px 0px;
    margin: 25px 0 25px 40px;
    display: list-item;
}

.ecrituregras1, .ecrituregras2, .ecrituregras3, .ecrituregras4{
    color : black;
    font-weight:bold;
    white-space: normal;
    margin : 5px 0 0 7px;
}

.ecrituregras4{
    margin: 30px 0 0 7px;
}

.center{
    text-align:center;
}
    
.contourbas{
    clear: both;
    text-align: center;
    color : white; 
    background-color: #668285;
    height: 36px;
    padding: 18px 0 0 0;
}